@model CrudSimpleModalBootstrap.Models.AutorViewModel

@using (Ajax.BeginForm("Create", "Autor", new AjaxOptions{ HttpMethod="POST", OnSuccess="Success", OnFailure="Failure" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h2>Inclusão do Autor</h2>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control txtNome" } })
                @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </div>
    </div>
}
<script src="~/Scripts/Scripts.js"></script>